body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 24px 200px;
    color: #d5d7db;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

p {
    margin: 0;
}

button {
    background-color: #3882f6;
    padding: 8px 20px;
    border-radius: 8px;
    margin: 8px 0;
    border: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero-content {
    display: flex;
    padding: 24px 0;
    gap: 50px;
}

.hero-column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.info-section {
    padding: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-square {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.card p {
    text-align: center;
    width: 150px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 50px 300px;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

figcaption {
    font-size: 24px;
    font-weight: 700;
    color: #1f2937;
    text-align: right;
}

.cta-section {
    padding: 100px 200px;
    display: flex;

}

.cta-block {
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px;
    border-radius: 16px;
    color: #f9faf8;
    flex-wrap: wrap;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-section button {
    border: 2px solid #e5e7eb;
    max-height: 100px;
}

.footer {
    background-color:#1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 50px 200px;
}